<div id="job-view-container">
  <div class="container">
    <a href="/" class="back-link">Voltar</a>
    <h1>{{job.dataValues.title}}</h1>
    <p> <span> Descrição da vaga:  </span>{{job.dataValues.description}}</p>
    <p> <span> Empresa:  </span>{{job.dataValues.company}}</p>
    <p> <span> Salário: R$ </span>{{job.dataValues.salary}}</p>
    <p> <span> Email para contato da empresa: </span>{{job.dataValues.email}}</p>
  </div>
</div>